/* .education-container {
  display: row;
  flex-direction: row;
} */

.education-section {
  flex: 1;
  padding: 20px 0px 56px 0px;
}

.school-info {
  margin-bottom: 20px;
  display: flex;

  .proffesionalBackground {
    margin-top: 20px;
    margin-right: 25px;
    width: 410px;
    height: 150px;
  }
}

.school-images {
  display: flex;
  /* justify-content: space-between; */
}

.school-images img {
  width: 150px;
  height: 150px;
  margin-left: 5px;
}
/* .one {
  width: 150px;
} */
.two {
  width: 200px;
  height: 150px;
}
.skills-navbar {
  .navigation-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    top: 80px;
    left: 50%;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 9;
  }
}

.project-section {
  flex: 1;
  padding: 20px;
}

.project-windows {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.project-window {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.project-window img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.right-navbar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 200px;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  color: #fff;
  padding: 0px 20px;
}

.right-navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 140px;
}
.right-navbar ul .space {
  margin-bottom: 1.5em; /* Add desired margin value */
}

.right-navbar li {
  margin-bottom: 10px;
}

.right-navbar li:last-child {
  margin-bottom: 0;
}
/* ****************TABLE********************* */
.education-container {
  margin-top: 40px;
  margin-right: 50px;
  margin-left: 50px;
  padding: 0 15px;
  width: 85%;
  height: 500px;
}

.education-table {
  width: 90%;
  border-collapse: collapse;
}

.education-table th,
.education-table td {
  padding: 7px 15px;
  text-align: center;
}

.education-table th {
  font-weight: bold;
  background-color: #f0f0f0;
}
.logo-td {
  width: 20%;
  height: 100px;
}
.narrow-td {
  width: 32%; /* Adjust the width as per your requirements */
}
.certificate-td {
  width: 20%;
}

.university-logo {
  width: 200px;
  /* max-height: 100%; */
  object-fit: contain;
}

.certificate-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #333333;
}

.certificate-icon {
  max-width: 100%;
  max-height: 180px;
  object-fit: contain;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.education-table tr:first-child,
.education-table tr:last-child {
  height: 40px;
}

.education-table tr:first-child th,
.education-table tr:last-child td {
  padding: 5px;
}

.education-table tr:first-child th:last-child,
.education-table tr:last-child td:last-child {
  padding-right: 0;
}

.education-table tr:last-child td {
  padding-top: 20px;
}
