.footer-container {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
}

.icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.icon {
  font-size: 54px;
  margin: 0 10px;
  color: rgb(115, 0, 255);
}
