.navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  top: 80px;
  position: fixed;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgb(222, 233, 235) 0%,
    rgb(128, 149, 160) 100%
  );
  z-index: 9;
}

.logo img {
  width: 70px;
  height: 90px;
}

.tabs {
  display: flex;
}

.tab {
  padding: 5px 20px;
  cursor: pointer;
}

.tab.active {
  font-weight: bold;
}

.content {
  margin-top: 20px;
  padding-top: 110px;
}

.icons-container {
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 10px;
  font-size: 20px;
  color: #fff;
  width: 35px;
  height: 35px;
  margin: 0 5px;
}
.education-component {
  margin-top: 10px;
  margin-left: 70px;
}
